USE [db_zooTest2]
GO
/****** Object:  StoredProcedure [dbo].[getANIMAL_INFO]    Script Date: 3/20/2021 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[getANIMAL_INFO]

@animalName VARCHAR(50)
AS
BEGIN

	DECLARE @errorString VARCHAR(100)
	DECLARE @results AS VARCHAR(5)
	SET @errorString = 'There are no ' + @animalName + '''s found at this zoo.'

	BEGIN TRY
		SET @results = (SELECT COUNT(tb1_species.species_name) FROM tb1_species WHERE species_name = @animalName)
		IF @results = 0
			BEGIN
				RAISERROR(@errorString, 16, 1)
				RETURN
			END
		ELSE IF @results = 1
			BEGIN
				SELECT
					a1.species_name, a2.animalia_type,
					a3.class_type, a4.order_type, a5.habitat_type,
					a6.nutrition_type, a7.care_type
					FROM tb1_species a1
					INNER JOIN tb1_animalia a2 ON a2.animalia_id = a1.species_animalia
					INNER JOIN tb1_class a3 ON a3.class_id = a1.species_class
					INNER JOIN tb1_order a4 ON a4.order_id = a1.species_order
					INNER JOIN tb1_habitat a5 ON a5.habitat_id = a1.species_habitat
					INNER JOIN tb1_nutrition a6 ON a6.nutrition_id = a1.species_nutrition
					INNER JOIN tb1_care a7 ON a7.care_id = a1.species_care
					WHERE species_name = @animalName
				;
			END
	END TRY

	BEGIN CATCH
		SELECT @errorString = ERROR_MESSAGE()
		RAISERROR (@errorString, 10, 1)
	END CATCH

END